<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/stylesheets/Menu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <ul id="nav-1">
        <li class="slide1"></li>
        <li class="slide2"></li>
        <li><a href="">خانه</a></li>
        <li><a href="">درباره ما</a></li>
        <li><a href="">ارتباط با ما</a></li>
        <li><a href="/LoginUser">ورود</a></li>
        <li><a href="/SingUpUser">ثبت نام</a></li>
    </ul>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../public/javascripts/Menu.js"></script>
</body>

</html>